<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamp:</strong>
  <%= @tag_instance.timestamp %>
</p>

<%= link_to 'Edit', edit_tag_instance_path(@tag_instance) %> |
<%= link_to 'Back', tag_instances_path %>
