// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.twitter-typeahead {
  width: 100%;
}

ul.search-tags {
  list-style-type: none;
  padding: 0;
  
  li {
    display: inline-block;
    background-color: lightgrey;
    padding: 0.2em;
    margin: 0.1em;
  }
}

li.feed {
  a {
    color: green;
    font-weight: bolder;
    
    :visited {
      color: lightgreen;
    }
  }
}
