// Author: Christopher Foo

span.twitter-typeahead {
  width: 100%;
}

ul.search-tags {
  list-style-type: none;
  padding: 0;
  
  li {
    display: inline-block;
    background-color: lightgrey;
    padding: 0.2em;
    margin: 0.1em;
  }
}

li.feed {
  a {
    color: green;
    font-weight: bolder;
    
    :visited {
      color: lightgreen;
    }
  }
}

div.last-row {
  margin-bottom: 20px;
}
