<!-- Template for the Add Media Page -->
<!-- Author: Christopher Foo -->
<div class="container">
  <h1>Add New Media Item</h1>

  <!-- Loading Message -->
  <h2 ng-if="loading && !loadingFailed">Loading...</h2>

  <!-- Loading Error Message -->
  <h2 ng-if="loading && loadingFailed">Failed to load the data... sorry!</h2>

  <!-- New Media Form -->
  <div ng-if="!loading">

    <!-- Title Field -->
    <div class="form-group" ng-class="{'has-error': errors['title']}">
      <label class="control-label" for="titleInput">Media Title (Required)</label>
      <input id="titleInput" type="text" class="form-control" placeholder="Title..." ng-model="media.title" />
      <span class="help-block" ng-if="errors['title']">{{errors['title']}}</span>
    </div>

    <!-- Media Type Field -->
    <div class="form-group" ng-class="{'has-error': errors['media_type']}">
      <label class="control-label" for="mediaTypeSelect">Media Type (Required)</label>
      <select id="mediaTypeSelect" class="form-control" ng-model="media.media_type" ng-options="media_type.name for media_type in media_types">
        <option value="" ng-if="!media.media_type"> Media Type... </option>
      </select>
      <span class="help-block" ng-if="errors['media_type']">{{errors['media_type']}}</span>
    </div>

    <!-- Description Field -->
    <div class="form-group" ng-class="{'has-error': errors['desc']}">
      <label class="control-label" for="descInput">Description (Required)</label>
      <textarea id="descInput"  class="form-control" placeholder="Description..." rows="5" ng-model="media.description" />
      <span class="help-block" ng-if="errors['desc']">{{errors['desc']}}</span>
    </div>

    <!-- URL Field (if video) -->
    <div class="form-group" ng-if="isVideo()" ng-class="{'has-error': errors['url']}">
      <label class="control-label" for="urlInput">URL (Required)</label>
      <div class="input-group">
        <input id="urlInput" type="text" class="form-control" placeholder="URL..." ng-model="media.url"/>
        <span class="input-group-btn">
          <button id="urlLoadBtn" type="button" class="btn btn-primary" ng-click="loadMedia()">
            Load
          </button> </span>
      </div>
      <span class="help-block" ng-if="errors['url']">{{errors['url']}}</span>
    </div>

    <!-- Video Player -->
    <div id="video-row" class="row" ng-class="{hidden: !mediaLoaded}">
      <video id="vid1" src="" class="video-js vjs-default-skin center-block" controls preload="auto" width="640" height="360"></video>
    </div>

    <!-- New Tag Field -->
    <div class="form-group">
      <label for="tagTypeahead">New Tag</label>
      <div class="input-group">
        <input id="tagTypeahead" type="text" class="form-control"  ng-model="new_tag.name" typeahead typeahead-name="tag" typeahead-data="existing_tags" typeahead-field="name" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary" ng-click="makeTag()">
            Add Tag
          </button> </span>
      </div>
    </div>

    <!-- Current Tags -->
    <table class="table table-bordered">
      <tr>
        <th>Label</th>
        <th ng-if="isVideo() && mediaLoaded">Time (s)</th>
        <th>Options</th>
      </tr>
      <tr ng-repeat="tag in tags">
        <td>{{tag.name}}</td>
        <td ng-if="isVideo() && mediaLoaded"><a href="javascript:void(0)" ng-click="goTo(tag.time)">{{tag.time}}</a></td>
        <td>
        <button class="btn btn-danger" ng-click="deleteTag(tag)">
          Delete
        </button></td>
      </tr>
    </table>

    <!-- Submit Button -->
    <div class="row last-row">
      <div class="alert" ng-if="submitStatus" ng-class="{'alert-success': submitStatus.indexOf('Success') != -1, 'alert-info': submitStatus.indexOf('Working') != -1, 'alert-danger': submitStatus.indexOf('Error') != -1}">
        {{submitStatus}}
      </div>
      <button class="btn btn-lg btn-primary pull-right" ng-click="submit()">
        Submit
      </button>
    </div>
  </div>
</div>

