<div class="container">
  <h1>Welcome to the UH Band video website!</h1>
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-target="#about" data-toggle="tab">About Us</a>
    </li>
    <li>
      <a data-target="#feed" data-toggle="tab">Feed</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="about" class="tab-pane active">
      <h2>About Us</h2>
      <p>
        Stuff about the UH Band!
      </p>
    </div>
    <div id="feed" class="tab-pane">
      <h2>Feed</h2>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="media in media_elements">
          <p>
            Title: {{media.title}}
          </p>
          <p>
            Type: {{media.media_type}}
          </p>
          <p>
            Created At: {{convertDate(media.creation_date)}}
          </p>
          <p>
            Description: {{media.desc}}
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>