<!-- The template for the View Media (single media) page -->
<!-- Author: Christopher Foo -->
<div class="container">
  
  <!-- Loading Message -->
  <h1 ng-if="loading">Loading...</h1>
  
  <!-- Media Display -->
  <div ng-if="!loading">
    <h1>{{media.title}}</h1>
    <div ng-if="media.media_type == 'video'">
      <video id="vid1" src="" class="video-js vjs-default-skin center-block" controls preload="auto" width="640" height="360" data-fake-attr></video>
    </div>
    <p>
      Created At: <br />
      {{convertDate(media.created_at)}}
    </p>
    <p>
      Description:<br />
      {{media.description}}
    </p>
    <p>
      Tags:
    </p>
    <ul ng-if="media.media_type == 'video'">
      <li ng-repeat="tag in media.tags">
        <a href="#/search?tag_id={{tag.id}}">{{tag.label}}</a>(<a href="javascript:void(0)" ng-click="gotoTime(tag.timestamp)">{{tag.timestamp}}</a>)
      </li>
    </ul>
    <ul ng-if="media.media_type != 'video'">
      <li ng-repeat="tag in media.tags">
        <a href="#/search?tag_id={{tag.id}}">{{tag.label}}</a>
      </li>
    </ul>
    <a href="javascript:void(0)" class="btn btn-primary" ng-click="searchRelated()">Search For Related</a>
  </div>
</div>