<!DOCTYPE html>
<html ng-app="uhband">
  <head>
    <title>UH Band</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <script>
      videojs.options.flash.swf = "/assets/swf/video-js.swf"
    </script>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
